
/* Globals */

body {
    background-color: #f5f5f5;
}

/* Login */
.form-signin {
    max-width: 30%;
    margin: 150px auto;
    text-align: center;
}
.spinner-border {
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 10px;
}

/*Sidebar*/
.copyright-text {
    color: #FFF;
    text-align: center;
    border-bottom: 1px solid #4f5962;
    padding: 10px 0;
}
.user-info{
    color: #FFF;
}
.nav-header {
    padding-left: 0!important;
}
.nav-link svg {
    margin-left: 0.5rem;
    margin-right: 0.2rem;
    font-size: 1.1rem;
    width: 1.6rem;
    text-align: center;
}
.nav-sidebar .nav-link p {
    display: inline;
    margin: 0;
    white-space: normal;
}